In [1]:
import glob
import pandas as pd

In [4]:
data192021 = pd.concat([pd.read_csv(f) for f in glob.glob('Data/*.csv')], ignore_index = True)

In [5]:
data192021.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [6]:
data192021.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,7.982590e+05,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000
mean,1.127371e+03,3298.930094,40.722488,-74.046563,3297.359457,40.722066,-74.045903,34528.103061,1980.762423,1.074880
std,1.408491e+04,177.851001,0.007201,0.011394,185.458326,0.064849,0.117752,7608.450081,10.669153,0.609715
min,6.100000e+01,3183.000000,40.709651,-74.083639,82.000000,0.000000,-74.083639,14531.000000,1887.000000,0.000000
25%,2.620000e+02,3195.000000,40.717732,-74.050656,3193.000000,40.717732,-74.050444,29242.000000,1970.000000,1.000000
50%,4.350000e+02,3209.000000,40.721525,-74.043845,3209.000000,40.721124,-74.043117,29616.000000,1983.000000,1.000000
75%,8.800000e+02,3276.000000,40.727224,-74.038051,3276.000000,40.727224,-74.038051,42372.000000,1989.000000,1.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4282.000000,40.848282,0.000000,55298.000000,2004.000000,2.000000

In [7]:
data192021.to_csv("cleandata.csv")